# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# WordPress
wp-content/uploads/sitemover-exports/

# Composer
vendor/

# Node
node_modules/

# Build artifacts
*.zip
